<h1>Contacto</h1>
<p>
  <ul>
    <% articulos.forEach( articulo => { %>
      <li><%=articulo.descripcion%> <%=articulo.precio%> <%=articulo.modelo%> <%=articulo.marca%></li>
    <% }) %>
  </ul>
</p>