<div id="terminos-y-condiciones" v-cloak>

  <h1>TÉRMINOS Y CONDICIONES</h1>
  <p>Aquí se depliegan los términos y condiciones</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
